@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
<p style="font-family: Cairo;direction:rtl">
     لإعادة تعيين كلمة السرالرجاء الدخول على الرابط المرسل إليك 
</p>

