@page
@model LockoutModel
@{
    ViewData["Title"] = "غلق الحساب";
}

<header>
    <h1 class="text-danger" style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
    <p class="text-danger"style="font-family: Cairo;direction:rtl">تم غلق حسابك الرجاء المحاولة لاحقاً</p>
</header>
